.gradle/
build/
.idea/
gradle.properties

# Added by Illuminated Cloud
.sf/
.sfdx/
.localdev/
/IlluminatedCloud/
/out/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
.intellijPlatform/